@model string


    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <span>Имя пользователя - @Model</span>

                <a asp-action="Logout" asp-controller="Login" class="btn btn-secondary">Выйти</a>

        </div>
    </div>